@import "../node_modules/bootstrap/scss/bootstrap.scss";

div{
    width: 100%;
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
