$primary-color:#58a611;
.features-item{
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: 20em 25em 20em;
    grid-template-rows: 10em 10em 10em;
    grid-template-areas: "box1 box4 box5"
                         "box2 box4 box6"
                         "box3 box4 box7";
}
.features-item img{
    width: 100%;
}
.features-item h5{
    color: $primary-color;
}