
$Plums:#7160d6;
$DarkPlums:#4832c3;
$LightPlums:#988be0;
$Cucumber:#5d873b;
$DarkCucumber:#3d6c17;
$LightCucumber:#7bb74a;
$Peaches:#ea7351;
$DarkPeaches:#e85228;
$LightPeaches:#f59378;
$Pomogranate:#d54052;
$DarkPomogranate:#c21b2f;
$LightPomogranate:#e76877;
$grey:#f5f5f5;
.Product{
    width: 19em;
    height: 15em;
    padding: 10px;
    position: relative;
    transition: all 0.4s;
}
.Product img{
    transition: all 0.4s;
    width: 60%;
    position: absolute;
    bottom: -20px;
    left: 100px;
    margin-bottom: 10px;

}
.Plums{
    background-color: $Plums;
    color: $DarkPlums;
}
.Plums:hover{
    background-color: $LightPlums;
}
.Plums:hover img{
    filter: drop-shadow(1px 1px 20px $DarkPlums);
    transform: scale(1.1);
}
.Peaches{
    background-color: $Peaches;
    color: $DarkPeaches;
}
.Peaches:hover{
    background-color: $LightPeaches;
}
.Peaches:hover img{
    filter: drop-shadow(1px 1px 20px $DarkPeaches);
    transform: scale(1.1);
}
.Cucumber{
    background-color: $Cucumber;
    color: $DarkCucumber;
}
.Cucumber:hover{
    background-color: $LightCucumber;
}
.Cucumber:hover img{
    filter: drop-shadow(1px 1px 20px $DarkCucumber);
    transform: scale(1.1);
}
.Peaches:hover{
    background-color: $LightPeaches;
}
.Peaches:hover img{
    filter: drop-shadow(1px 1px 20px $DarkPeaches);
    transform: scale(1.1);
}
.Pomogranate{
    background-color: $Pomogranate;
    color: $DarkPomogranate;
}
.Pomogranate:hover{
    background-color: $LightPomogranate;
}
.Pomogranate:hover img{
    filter: drop-shadow(1px 1px 20px $DarkPomogranate);
    transform: scale(1.1);
}
.ficon{
    width: 40px;
    height: 40px;
    background-color: $grey;
}
.ficon i{
    font-size: 29px;
}
.feature-logo{
    width: 16em;
    justify-items: center;
    text-align: center;
}