.SaleNav img{
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}
.SaleNav{
    display: flex;
    gap: 50px;
    justify-self: center;
}
.SaleNav img:hover{
    filter: drop-shadow(1px 1px 5px black);
    transform: scale(1.1);
}