.SaleNav img{
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}
.SaleNav{
    margin-top: 60px;
    display: flex;
    gap: 50px;
    justify-self: center;
    text-align: center;
}
.SaleNav img:hover{
    filter: drop-shadow(1px 1px 5px black);
    transform: scale(1.1);
    cursor: pointer;
}
.SaleNav p{
    position: relative;
    max-width: max-content;
}

.SaleNav p::after{
    transition: all 0.5s ease ;
    position: absolute;
    content: " ";
    background-color: palegreen;
    width: 0%;
    left: 0px;
    bottom: -2px;
}
.SaleNav  p:hover::after{
    height: 3px;
    width: 100%;
}
.SaleProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.ProductRow{
    width: 18em;
    height: 400px;
    border-radius: 20px;
    padding: 15px;
}
.ProductRow:hover{
     box-shadow: 1px 1px 20px palegreen;
}
.ProductRow:hover img{
    transform: scale(1.1);
}
.ProductRow img{
    width: 100%;
    height: 70%;
}
.ProductRow .stars img{
    width: 20px;
}